<!doctype html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script>
    var app = angular.module('userApp',[]);
    app.controller('userCtrl', function($scope){
      $scope.users = [];
      $scope.addUser = function(){
        $scope.users.push({userName:$scope.textUsername, checked:false})
        $scope.textUsername='';
      }

      $scope.deleteUsers = function(){
        for (let i = $scope.users.length-1; i>=0;i--){
          if ($scope.users[i].checked){
            $scope.users.splice(i,1);
          }
        }
      }

      $scope.printAnzahl = function(){
        if($scope.users.length==0){
          return 'keine'
        } else {
          return $scope.users.length;
        }

      }

      $scope.sortUsers = function(){
        var a=0;

        if(a==0){
        $scope.users.sort(function(a,b){  return a.userName > b.userName });
        a=1;
        } else{
        $scope.users.sort(function(a,b){  return a.userName < b.userName });
        a=0;
        }
      }

    });

	</script>
	<style>
	</style>
</head>
<body ng-app="userApp">

  <div ng-controller="userCtrl">

    <h2>Anzahl User: <span>{{printAnzahl()}}</span></h2>

    <form>
      <input type="text" placeholder="Username" ng-model="textUsername"><button ng-click="addUser()">Hinzufügen</button>
    </form>
    <div id="users" ng-repeat="u in users">
      <input type="checkbox" ng-model="u.checked"><span>{{u.userName}}</span>
    </div>
    <button ng-click="deleteUsers()">Markierte löschen</button><button ng-click="sortUsers()">Sortieren</button>
  </div>

</body>
</html>
